@use "./globals.scss";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    transition: all .2s ease;
}

/*:root {*/
/*    --font-family: "Open Sans", sans-serif;*/
/*    --second-family: "Readex Pro", sans-serif;*/
/*    !*--third-family: "SF Pro Text", sans-serif;*!*/
/*    !*--font3: "Dela Gothic One", sans-serif;*!*/
/*    !*--font4: "Open Sans Hebrew", sans-serif;*!*/
/*    !*--font5: "Roboto", sans-serif;*!*/
/*    !*--font6: "Borel", sans-serif;*!*/
/*    !*--font7: "Sora", sans-serif;*!*/
/*}*/

